* {
    margin: 0px;
}

body,
html {
    height: 100%;
    font-family: helvetica;
    scroll-behavior: smooth;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lego.jpg");
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 3px 3px rgba(0, 0, 0, .2);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 35px;
}

.hero-text p {
    margin: 20px 0 20px 0;
    font-family: arial black;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:not(:first-child) {
    display: none;
}

.topnav a.icon {
    float: right;
    display: block;
}

.topnav.responsive {
    position: relative;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.title {
    text-align: center;
    padding: 25px 0px 25px 0px;
    font-size: 20px;
}

.mais {
    color: black;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
}

.sobre {
    padding: 25px;
    text-align: justify;
}

.sobre div {
    max-width: 1000px;
    margin: auto;
}

.topicos {
    padding: 25px;
    text-align: center;
}

.topicos div {
    max-width: 1000px;
    margin: auto;
}

.topicos p {
    text-align: justify;
    padding: 20px;
    display: none;
}

.topico {
    padding: 5px 0px 5px 0px;
    border: 2px solid white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    transition: .2s;
    cursor: pointer;
}

.topico:hover {
    background-color: rgba(0, 0, 0, .03);
}

.curso {
    padding: 25px;
    text-align: justify;
}

.curso div {
    max-width: 1000px;
    margin: auto;
}

.curso-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    text-align: justify;
}

.curso-body div {
    width: 100%;
}

.curso-body img {
    max-width: 100%;
    border-radius: 5px;
}

.galeria {
    padding: 25px;
    text-align: justify;
}

.galeria div {
    max-width: 1000px;
    margin: auto;
}

.galeria-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 10px;
}

.galeria-body div {
    width: 100%;
    text-align: center;
}

.galeria-body div img {
    max-width: 100%;
}

.localizacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 340px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 20px;
}

.localizacao-body {
    margin: 0 auto;
}

.localizacao-body img {
    width: 100%;
}

.localizacao-body h3 {
    text-align: center;
}

.localizacao-body p {
    text-align: center;
}

.title-localizacao {
    text-align: center;
}

.depoimentos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 340px;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 20px;
}

.depoimento-body-img {
    justify-self: end;
}

.depoimento-body-img img {
    border-radius: 50%;
}

.depoimento-bory-txt {
    padding-right: 15px;
}

.depoimento-bory-txt p {
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .topnav a:not(:first-child) {
        display: inline-block;
    }
    .topnav a.icon {
        float: right;
        display: none;
    }
    .curso-body div {
        width: 49%;
    }
    .galeria-body div {
        width: 32%;
    }
}

@media screen and (min-width: 900px) {
    .depoimentos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 900px;
        padding: 10px;
    }
}