* {
    margin: 0px;
}

body,
html {
    height: 100%;
    font-family: helvetica;
    scroll-behavior: smooth;
}

.hero-image {
    position: relative;
    text-shadow: 3px 3px rgba(0, 0, 0, .4);
    background-color: black;
}

video{
    display: block;
    overflow: hidden;
    max-width: 100%;
    opacity: 0.5;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@font-face {
    font-family: 'Lego';
    src: url('../fonts/legofont/legothick-webfont.woff');
}

.hero-text h1 {
    font-size: 20px;
    font-family: Lego, sans-serif;
}

.hero-text p {
    font-family: arial black;
}

.header-links-container{
    display: none;
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 100%;
    position: relative;
}

.header-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    bottom: 15px;
}

.header-links a{
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 86, 86,.4);
    border-radius: 3px;
    color: white;
    transition: background-color .2s;
    text-decoration: none;
    display: inline-block;
}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:not(:first-child) {
    display: none;
}

.topnav a.icon {
    float: right;
    display: block;
}

.topnav.responsive {
    position: relative;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

body{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.main{
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255,255,255,0.9);


}

.title {
    text-align: center;
    padding: 25px 0px 25px 0px;
    font-size: 20px;
    font-family: "Lego";
}

.mais {
    color: black;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
}

.sobre {
    padding: 25px;
    text-align: justify;
}

.sobre div {
    max-width: 1000px;
    margin: auto;
}

.topicos {
    padding: 25px;
    text-align: center;
}

.topicos div {
    max-width: 1000px;
    margin: auto;
}

.topicos p {
    text-align: justify;
    padding: 20px;
    display: none;
}

.topico {
    padding: 5px 0px 5px 0px;
    border: 2px solid white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    transition: .2s;
    cursor: pointer;
}

.topico:hover {
    background-color: rgba(0, 0, 0, .03);
}

.curso {
    padding: 25px;
    text-align: justify;
}

.curso div {
    max-width: 1000px;
    margin: auto;
}

.curso-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    text-align: justify;
}

.curso-body div {
    width: 100%;
}

.curso-body img {
    max-width: 100%;
    border-radius: 5px;
}

.galeria {
    padding: 25px;
    text-align: justify;
}

.galeria div {
    max-width: 1000px;
    margin: auto;
}

.galeria-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 10px;
}

.galeria-body div {
    width: 100%;
    text-align: center;
    margin: 0px;
}

.galeria-body div img {
    max-width: 100%;
}

.localizacao {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 20px;
}

.localizacao-body {
    margin: 0 auto;
}

.localizacao-body img {
    width: 100%;
}

.localizacao-body h3 {
    text-align: center;
}

.localizacao-body p {
    text-align: center;
}

.title-localizacao {
    text-align: center;
}

.depoimentos {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    grid-gap: 20px;

    justify-items: center;
    text-align: center;
}

.depoimento-body-img img {
    border-radius: 50%;
}

.depoimento-bory-txt {
    padding-right: 15px;
}

.depoimento-bory-txt p {
    font-style: italic;
}

.formulario-contato {
    padding: 40px;
}

.formulario-contato div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formulario-contato form {
    margin: 0 auto;
    max-width: 800px;
}

.formulario-contato input {
    grid-column-start: 1;
    grid-column-end: 4;
    border: #333 solid 1px;
    background-color: #ddd;
    min-height: 30px;
}

.formulario-contato button {
    background-color: rgb(15, 235, 22);
    grid-column-start: 2;
    border-radius: 10px;
    font-size: 20px;
}

.formulario-contato .title h2 {
    grid-column-start: 2;
}

.formulario-contato textarea {
    grid-column-start: 1;
    grid-column-end: 4;
    border: #333 solid 1px;
    min-height: 100px;
    background-color: #ddd;
}

.formulario-inscricao {
    padding: 40px;
}

.formulario-inscricao div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formulario-inscricao form {
    margin: 0 auto;
    max-width: 800px;
}

.formulario-inscricao input {
    grid-column-start: 1;
    grid-column-end: 4;
    border: #333 solid 1px;
    background-color: #ddd;
    min-height: 30px;
}

.formulario-inscricao button {
    background-color: rgb(15, 235, 22);
    grid-column-start: 2;
    border-radius: 10px;
    font-size: 20px;
}

.formulario-inscricao .title h2 {
    grid-column-start: 2;
}

.formulario-inscricao input#endereco {
    grid-column-end: 3;
}

.formulario-inscricao input#num {
    grid-column-start: 3;
    grid-row-start: 1;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70px;
    background-color: rgb(26, 241, 26);
}

footer div {
    padding-top: 10px;
    justify-self: center
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

footer div .icons {
    font-size: 20px;
    color: rgb(255, 255, 255);
    ;
}

@media screen and (min-width: 425px){
    .localizacao{
        grid-template-columns: 1fr 1fr;
    }

    .depoimentos{

        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .depoimento-body-img {
        justify-self: end;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text p {
         margin: 20px 0 20px 0;
    }
}

@media screen and (min-width: 600px) {
    .topnav a:not(:first-child) {
        display: inline-block;
    }
    .topnav a.icon {
        float: right;
        display: none;
    }
    .curso-body div {
        width: 49%;
    }
    .galeria-body div {
        width: 33%;
    }

    video{
        display: block;
        overflow: hidden;
        width: 100%;
        /* min-height: 200px; */
        max-height: 100%;
    }

    .hero-text h1 {
        font-size: 65px;
    }

}

@media screen and (min-width: 900px) {
    .depoimentos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 900px;
        padding: 10px;
    }

    .hero-text h1 {
        font-size: 85px;
    }

    .header-links-container{
        display: block;
    }

    .hero-text p {
        margin: 20px 0px 20px 0px;
        font-size: 25px;
    }

}
